deploy-repo-{{ appKey }}:
  git.latest:
    - name: {{ salt['pillar.get']('mojeskoly:apps:' ~ appKey }}
    - target: /var/www/{{ appKey }}
    - branch: master
    - user: www-data
    - force_fetch: True
    - force_checkout: True
    - force_reset: True

deploy-dir-{{ appKey }}:
  file.directory:
    - name: /var/www/{{ appKey }}
    - user: www-data
    - group: www-data
    - mode: 775
    - require_in:
      - git: deploy-repo-{{ appKey }}
