{# {{ appKey }}-npm-install:
  cmd.run:
    - name: npm install --group=www-data --owner=www-data
    - user: www-data
    - cwd: /var/www/{{ appKey }}
    - watch:
      - git: deploy-repo-{{ appKey }}
    - require:
      - file: deploy-npm-cache-dir

{{ appKey }}-build:
  cmd.run:
    - name: npm run build
    - user: www-data
    - cwd: /var/www/{{ appKey }}
    - watch:
      - git: deploy-repo-{{ appKey }}
    - require:
      - cmd: {{ appKey }}-npm-install
#}

{{ appKey }}-forever-start:
  cmd.run:
    - name: npm run startServer
    - unless: "node_modules/.bin/forever list | grep server.js"
    - user: www-data
    - cwd: /var/www/{{ appKey }}
    - watch:
      - git: deploy-repo-{{ appKey }}
    - require:
{#      - cmd: {{ appKey }}-build #}
      - file: {{ appKey }}-forever-dir

{{ appKey }}-forever-restart:
  cmd.run:
    - name: npm run restartServer
    - unless: "node_modules/.bin/forever list | grep -v server.js"
    - user: www-data
    - cwd: /var/www/{{ appKey }}
    - watch:
      - git: deploy-repo-{{ appKey }}
    - require:
{#      - cmd: {{ appKey }}-build #}
      - file: {{ appKey }}-forever-dir

{{ appKey }}-forever-dir:
  file.directory:
    - name: /var/www/.forever
    - user: www-data
    - group: www-data
